@using Oaww.Entity;
@using Oaww.ViewModel;
@using Oaww.Utility;
@{
    Layout = null;
    #region SEO
    SEO SEO = (SEO)ViewBag.SEO;

    string KeyWord = string.Empty;

    for (int i = 1; i <= 10; i++)
    {
        string value = SEO.GetType().GetProperty("Keywords" + i.ToString()).GetValue(SEO, null)?.ToString();
        if (!value.IsNullOrEmpty())
        {
            KeyWord = KeyWord + "," + value;
        }
    }

    KeyWord = KeyWord.TrimStart(',');

    #endregion

    #region GA
    SiteFlow siteFlow = (SiteFlow)ViewBag.SiteFlow;


    #endregion

    SiteLayout siteLayout = CommonRazorFunctions.GetSiteLayout();

}

@model HomeViewModel
<!doctype html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="all" />
    <title>@SEO.Title</title>
    <meta name="title" content="@SEO.Title" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    @if (!SEO.Description.IsNullOrEmpty())
    {
        <meta name="description" content="@SEO.Description" />
    }
    @if (!KeyWord.IsNullOrEmpty())
    {
        <meta name="keywords" content="@KeyWord" />
    }
    <meta name="copyright" content="© 2020 @SEO.Title" />
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <meta property="fb:app_id" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="中華穀類食品工業技術研究所">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/settings.css" media="screen">

    <!--fontawesome start-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/brands.min.css">
    <link rel="stylesheet" href="~/css/solid.min.css">
    <link rel="stylesheet" href="~/css/regular.min.css">
    <!--fontawesome end-->

    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/main.js"></script>
    <noscript>
        <link rel="stylesheet" href="~/css/noscript.css">
    </noscript>

    <!--owl.carousel start-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main_owl.js"></script>
    <!--owl.carousel end-->
</head>

<body class="inx">

    <div class="loadbar"></div>

    <div id="wrapper">

        <!--header-->
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <!--banner start-->
        <div class="index_banner">
            <div>
                <div class="slider-container rev_slider_wrapper">
                    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                        <ul>
                            @foreach (var m in Model.ListMainRoller)
                            {
                                if (m.UploadVideoFilePath.IsNullOrEmpty() == false) //影片
                                {

                                    <li class="slide-overlay" data-transition="fade">

                                        <div class="rs-background-video-layer"
                                             data-forcerewind="on"
                                             data-volume="mute"
                                             data-videowidth="100%"
                                             data-videoheight="100%"
                                             data-videomp4="@Url.Content("~"+m.UploadVideoFilePath)"
                                             data-videopreload="preload"
                                             data-videoloop="loop"
                                             data-forceCover="1"
                                             data-aspectratio="16:9"
                                             data-autoplay="true"
                                             data-autoplayonlyfirsttime="false"
                                             data-nextslideatend="true">
                                        </div>
                                    </li>
                                }
                                else //圖片
                                {
                                    <li data-transition="fade">

                                        <div class="tp-caption tp-resizeme"
                                             data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                             data-type="image"
                                             data-x="center"
                                             data-y="top"
                                             data-width="['auto']"
                                             data-height="['auto']"
                                             data-basealign="slide">
                                            <img src="@Url.Content("~/UploadImage/ADMain/"+m.Img_Name_Ori)" alt="">
                                        </div>

                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--banner end-->
        <!--index_news_03 start-->
        <div class="index_news_03">
            <div class="container">

                <marquee scrollAmount=4 height="40" onMouseOver="this.stop()" onMouseOut="this.start()">
                    <!--後台自行輸入標題、連結、是否另開新視窗-->
                    @if (Model.ListThemeAD.Count() > 0)
                    {
                        foreach (var m in Model.ListThemeAD)
                        {
                            if (m.Link_Mode == "2")
                            {
                                <span><a href="@m.Link_Href" title="@m.AD_Name" target="_blank">@m.AD_Name」</a></span>
                            }
                            else
                            {
                                <span><a href="@m.Link_Href" title="@m.AD_Name">@m.AD_Name」</a></span>
                            }

                        }
                    }
                </marquee>

                <div class="icon">
                    <!--後台提供4組自行輸入，欄位：圖片、標題、連結-->
                    <ul class="list">
                        @if (Model.QuickLink.Count() > 0)
                                    {
                                        foreach (var m in Model.QuickLink)
                                        {
                                            var img = m.Img_Name_Thumb == "" || m.Img_Name_Thumb == null ? "index_icon_02.jpg" : m.Img_Name_Thumb;
                                            if (m.Link_Mode == "2")
                                            {
                                    <li data-sr="enter bottom over 1.5s">
                                        <a href="@m.Link_Href" target="_blank">
                                            <div class="img imh_opacity"><img src="@Url.Content("~/UploadImage/ADMain/")@img" alt="@m.AD_Name" /></div>
                                            <div class="title">@m.AD_Name</div>
                                        </a>
                                    </li>
                                }
                                else
                                {
                    <li data-sr="enter bottom over 1.5s">
                        <a href="@m.Link_Href">
                            <div class="img imh_opacity"><img src="@Url.Content("~/UploadImage/ADMain/")@img" alt="@m.AD_Name" /></div>
                            <div class="title">@m.AD_Name</div>
                        </a>
                    </li>
                                }
                            }
                        }       
                    </ul>
                </div>
                <div class="news">
                    <h2 data-sr="enter top over 1.5s">公告訊息</h2>

                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#page_01" data-toggle="tab">所務訊息</a></li>
                            <li><a href="#page_02" data-toggle="tab">研討會訊息</a></li>
                            <li><a href="#page_03" data-toggle="tab">比賽訊息</a></li>
                            <li><a href="#page_04" data-toggle="tab">市場動態</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="page_01">

                                <ul class="list">
                                    @foreach (var m in Model.ListFaq)
                                    {
                                        <li data-sr="enter bottom over 1.5s">
                                            <a href="@(m.Link_Mode == 1 ? Url.Action("MessageView","Message",new {@itemid=m.ItemID,mid="1143",GroupName=m.GroupName }):"#")">
                                                <div class="date">@m.PublicshDate.Value.ToString("yyy/MM/dd")</div>
                                                <div class="title">@m.Title</div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <div class="btn_box" data-sr="enter bottom over 1.5s"><a href="@Url.Action("index","Message",new { @itemid ="1024", mid = "1143" })" class="btn_01" title="">more</a></div>
                            </div>

                            <div class="tab-pane" id="page_02">
                                <ul class="list">
                                    @foreach (var m in Model.ListImage)
                                    {
                                        <li>
                                            <a href="@(m.Link_Mode == 1 ? Url.Action("MessageView","Message",new {@itemid=m.ItemID,mid="1144",GroupName=m.GroupName }):"#")">
                                                <div class="date">@m.PublicshDate.Value.ToString("yyy/MM/dd")</div>
                                                <div class="title">@m.Title</div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <div class="btn_box" data-sr="enter bottom over 1.5s"><a href="@Url.Action("index","Message",new { @itemid ="1026", mid = "1144" })" class="btn_01" title="">more</a></div>
                            </div>

                            <div class="tab-pane" id="page_03">
                                <ul class="list">
                                    @foreach (var m in Model.ListDownload)
                                    {
                                        <li>
                                            <a href="@(m.Link_Mode == 1 ? Url.Action("MessageView","Active",new {@itemid=m.ItemID,mid="1142",GroupName=m.GroupName }):"#")">
                                                <div class="date">@m.PublicshDate.Value.ToString("yyy/MM/dd")</div>
                                                <div class="title">@m.Title</div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <div class="btn_box" data-sr="enter bottom over 1.5s"><a href="@Url.Action("index","Active",new { @itemid ="1023", mid = "1142" })" class="btn_01" title="">more</a></div>
                            </div>

                            <div class="tab-pane" id="page_04">
                                <ul class="list">
                                    @foreach (var m in Model.AboutLink)
                                    {
                                        <li>
                                            <a href="@(m.Link_Mode == 1 ? Url.Action("MessageView","Message",new {@itemid=m.ItemID,mid="1145",GroupName=m.GroupName }):"#")">
                                                <div class="date">@m.PublicshDate.Value.ToString("yyy/MM/dd")</div>
                                                <div class="title">@m.Title</div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <div class="btn_box" data-sr="enter bottom over 1.5s"><a href="@Url.Action("index","Message",new { @itemid ="1025", mid = "1145" })" class="btn_01" title="">more</a></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="index_info">
            <div class="container">
                <div class="title">
                    <h2 data-sr="enter top over 1.5s">@Model.DynamicNews.AD_Name</h2>
                </div>
                <ul class="list">
                    @{
                        string NewsMid = System.Configuration.ConfigurationManager.AppSettings["NewsMid"];
                    }
                    @foreach (var m in Model.ListNews)
                    {
                        <li data-sr="enter bottom over 1.5s">
                            <a href="@Url.Action("MessageView","Message",new {@itemid=m.ItemID,mid=NewsMid,GroupName=m.GroupName })">
                                <div class="img"><img src="@Url.Content("~/UploadImage/MessageItem/")@m.RelateImageFileName" /></div>
                                <div class="font_box">
                                    <div class="title">@m.Title<i class="fas fa-arrow-right"></i></div>
                                    <div class="con_font">
                                        @m.Introduction
                                    </div>
                                </div>
                            </a>
                        </li>       
                    }
                    
                </ul>

                <div class="btn_box" data-sr="enter bottom over 1.5s"><a href="@Model.DynamicNews.Link_Href" class="btn_01" title="">more</a></div>
            </div>
        </div>
        <!--index_info end-->
        <!--index_link start--><!--後台首頁相關連結，全部顯示-->
        <div class="index_link">
            <div class="container">
                <div class="owl-carousel owl-theme link_01">
                    @if (Model.ListIcon.Count() > 0)
                    {
                        foreach (var m2 in Model.ListIcon)
                        {
                            <div class="item">
                                <a href="@m2.Link_Href" title="@m2.AD_Name">
                                    <img src="@Url.Content("~/UploadImage/ADMain/"+m2.Img_Name_Ori)" alt="" /><!--建議尺寸400*200px-->
                                </a>
                            </div>    
                        }
                    }
               
                </div>

            </div>
        </div>
        <!--index_link end-->
        <!--map start-->
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=中華穀類食品工業技術研究所&z=16&output=embed&t="></iframe>
        <!--map end-->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")

    </div>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/theme.init.js"></script>

    <!--banner start-->
    <script src="~/js/jquery.appear.min.js"></script>
    <script src="~/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/jquery.themepunch.revolution.min.js"></script>
    <!--banner end-->
    <!--滾動效果 start-->
    <script src="~/js/scrollReveal.js"></script>
    <!--滾動效果 end-->
    @*@Html.Action("Pswp_box", "Empty")*@

    <!-- owl.carousel -->
    @*<script src="~/Scripts/owlcarousel/owl.carousel.min.js"></script>*@

    <!-- custom -->
    @*<script src="~/Scripts/effect.js"></script>*@
    <!-- 針對 IE10 版本以前使用者顯示 Chrome 安裝提示 -->
    <!--[if lte IE 9 ]>
    <script>
        $body.attr({style:"overflow: hidden !important; background-attachment: fixed !important;"});
    </script>
    <div class="ie">
        <p><img src="images/old.png" alt=""/></p>
        <h3>您瀏覽器版本太舊了</h3>
        <h5>Windows 使用者請更新IE到最新版本</h5>
        <p>推薦使用 <a href="http://www.google.com/intl/zh-TW/chrome/" target="_blank">google chrome 瀏覽器</a></p>
    </div>
    <![endif]-->
</body>
</html>

<script type="text/javascript">
    $().ready(function () {
        if ($('#left_block').length == 0) {
            $('#main_block').addClass('full');
        }
    })
</script>