
@{
    Layout = null;
}
@model CaptchaMvc.Models.DefaultBuildInfoModel
@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
    });


    function @functionName {
            $('#@id').hide();
             $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
            function () {
                $('#@id').show();
            });
        return false;
    }
    </script>


}
<div class="input-group" style="width:100%;">
    @if (Model.IsRequired)
    {
        @Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>
                                                      {
                                                          {"data-val", "true"},
                                                          {"data-val-required", Model.RequiredMessage},
                                                          {"class","input_code" },
                                                          {"placeholder","請輸入驗證碼" }
                                                      })
    }
    else
    {
        @Html.TextBox(Model.InputElementId, null, new { @class = "input_code", @onkeypress = "Captcha(event)", @placeholder = "請輸入驗證碼" })
    }

    <img id="@Model.ImageElementId" style="width:100px;height:40px;margin:0px;" src="@Model.ImageUrl" />
    <a href="#" id="@id" onclick="@functionName"><i class="fa fa-refresh"></i></a>


    @Html.Hidden(Model.TokenElementId, Model.TokenValue)

    @Html.ValidationMessage(Model.InputElementId)
</div>