@using Oaww.HtmlHelp;
@using Oaww.Entity;
@{
    Layout = null;
    List<Menu> TopMenu = (List<Menu>)ViewBag.TopMenu;
    List<Menu> UpMenu = (List<Menu>)ViewBag.UpMenu;
    List<Menu> DownMenu = (List<Menu>)ViewBag.DownMenu;
    int online=(int)ViewBag.online;
      int   todayonline=(int)ViewBag.todayonline;
      int   hisusecount=(int)ViewBag.hisusecount;
      string  lastupdatedate=(string)ViewBag.lastupdatedate;
    SiteLayout siteLayout = CommonRazorFunctions.GetSiteLayout(Session["LangID"].ToString());

    ADKanban ADKanban = (ADKanban)ViewBag.ADKanban;
    if (ADKanban.ID == 0)
    {
        ADKanban = new ADKanban();
    }

}
<!--footer menu start-->
<div class="footer_menu hidden-xs">
    <div class="container">
        @foreach (Menu Menu1st in TopMenu.Where(t => t.MenuLevel == 1).OrderBy(t => t.Sort))
        {


            if (TopMenu.Where(t => t.MenuLevel == 2 && t.ParentID == Menu1st.ID).Count() > 0)
            {
        <div class="footer_itme">
            @Html.aira_HyperLink_Menu(Menu1st, new { @class = "footer_title" })

            <ul>
                @foreach (Menu Menu2nd in TopMenu.Where(t => t.MenuLevel == 2 && t.ParentID == Menu1st.ID).OrderBy(t => t.Sort))
                {
                    if (TopMenu.Where(t => t.MenuLevel == 3 && t.ParentID == Menu2nd.ID).Count() > 0)
                    {
                        <li >                    
                                @Html.aira_Top_HyperLink_Menu(Menu2nd, null)
                        </li>
                    }
                    else
                    {
                        <li>@Html.aira_HyperLink_Menu(Menu2nd, null)</li>
                    }
                }
            </ul>
        </div>
        }
        else
        {
    <div class="footer_itme">
        @Html.aira_HyperLink_Menu(Menu1st, new { @class = "footer_title" })
    </div>
    }

}
    
    </div>
</div>
<!--footer menu end-->

<footer id="footer">
    <div class="container">
        <div class="col-md-4 col-sm-12 col-xs-12 hidden-xs">

            <div class="quantity">
                <img src="@Url.Content("~/UploadImage/SiteLayout/")@siteLayout.LogoImgNameOri" align="left">
                線上人數：@online <br>
                本日瀏覽人數：@todayonline<br>
                總瀏覽人數：@hisusecount<br>
                網站最後更新日期：@lastupdatedate
            </div>
        </div>
        <div class="line visible-sm"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#;return false;" title="下方功能區塊" class="float-left" accesskey="B">:::</a>
            <ul class="copyright_menu">
                @if (DownMenu.Count() > 0)
                {
                    foreach (var menu in DownMenu.OrderBy(t => t.Sort))
                    {
                        <li>@Html.aira_Icon_HyperLink_Menu(menu, menu.Icon)</li>
                    }
                }
            </ul>
            @*<div class="search_box">
            <div class="inner-width">
                <form method="post" action="@Url.Action("Search","Search")">
                    <label for="footer_search">
                        <input type="text"id="footer_search" name="key" title="@("全站搜尋".GetLang())" placeholder="@("請輸入欲搜尋關鍵字".GetLang())">
                    </label>
                        <button class="search_icon">@("送出".GetLang())<i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>*@
        <form method="post" action="@Url.Action("Search","Search")">
            <div class="search">
                <label for="footer_search">
                    <input type="text" id="footer_search" name="key" title="@("全站搜尋".GetLang())" placeholder="@("請輸入欲搜尋關鍵字".GetLang())">
                </label>
                <button class="search_icon"><i class="fa fa-search"></i></button>

                <div class="hotword">熱門搜尋：<a href="#">職訓課程</a>、<a href="#">檢測報告</a>、<a href="#">線上報名</a></div>
            </div>
        </form>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="contact table">
                @Html.Raw(HttpUtility.HtmlDecode(siteLayout.HtmlContent))
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            Copyright &copy; 2020 中華穀類食品工業技術研究所 All rights reserved &nbsp;<span class="visible-xs"></span> 新北市八里區中山路三段223號  &nbsp; tel. 02-2610-1010#9<span class="visible-xs"></span>
            <!--<a href="#" target="_blank" title="通過AA優先等級無障礙網頁檢測(另開新視窗)"><img src="img/accessibility_AA.png" alt="通過AA優先等級無障礙網頁檢測(另開新視窗)"></a>-->
        </div>
    </div>
</footer>


