@using Oaww.Entity;
@using Oaww.HtmlHelp;
@{
    Layout = null;

    List<Menu> TopMenu = (List<Menu>)ViewBag.TopMenu;

    List<Menu> UpMenu = (List<Menu>)ViewBag.UpMenu;

    List<ADMain> AdRight = (List<ADMain>)ViewBag.AdRight;

    SEO SEO = (SEO)ViewBag.SEO;

    SiteLayout siteLayout = CommonRazorFunctions.GetSiteLayout();
}
  <!--header start--> 
        <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 0, "stickySetTop": "0", "stickyChangeLogo": false}'>
            
            <div class="header-body">
                
                <!--topmenu start-->
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">

                            <div class="header-logo">
                                <a href="#main-content" class="sr-only  sr-only-focusable" title="跳到主要內容區塊">跳到主要內容區塊</a><!-- 英文版 <a href="#main-content" class="sr-only" title="Jump to the main content area" tabindex="1">Jump to the main content area</a>  -->
                                <h1>
                                    <a href="@Url.Action("Index","Home")" title="中華穀類食品工業技術研究所">
                                        <img alt="中華穀類食品工業技術研究所" width="335" data-sticky-width="335" data-sticky-top="0" src="~/Content/img/logo.png"><!--英文版 National Center for High-performance Computing；建議尺寸360*70px-->
                                    </a>
                                </h1>
                            </div>

                            <!--<button class="btn header-btn-collapse-nav-search visible-sm visible-xs" data-toggle="collapse" data-target=".header-nav-search" title="搜尋" alt="搜尋">
                                <i class="fa fa-search"></i>
                            </button>-->

                            <button class="btn header-btn-collapse-nav float-right" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>

                        </div>
                        
                        <div class="header-column">
                            <div class="header-row hidden-xs">
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li style="display:none;">
                                            <a href="#;return false;" title="上方選單區" accesskey="U" class="accesskey">:::</a><!--英文<a href="#;return false;" title="Top menu area" accesskey="U" class="accesskey">:::</a>-->
                                            <a href="sitemap.html" title="網站導覽"><i class="fa fa-sitemap"></i></a>
                                        </li>
                                        @foreach (var menu in UpMenu.OrderBy(t => t.Sort))
                                        {
                                            <li>@Html.aira_Icon_HyperLink_Menu(menu, menu.Icon)</li>
                                        }
                                        @{
                                            List<Lang> ListLang = (List<Lang>)ViewBag.ListLang;
                                        }
                                        @if (ListLang.Count > 1)
                                        {
                                            foreach (var m in ListLang.Where(t => t.ID.ToString() != Session["LangID"].ToString()))
                                            {
                                                <li class="desk-show"><a href="@Url.Action("ChangeLang","Home",new { lang=m.ID})" langid='@m.ID' title="@m.Disp_Name">@m.Disp_Name</a></li>
                                            }
                                        }
                                        <li class="font_size hidden-xs" style="display:none;">

                                            <a href="#" class="size_s" onClick="size_set('font_s')" onkeypress="size_set('font_s')" title="小字級">A-</a><!--英文 S-->
                                            <a href="#" class="size_m" onClick="size_set('font_m')" onkeypress="size_set('font_m')" title="中字級">A</a><!--英文 M-->
                                            <a href="#" class="size_l" onClick="size_set('font_l')" onkeypress="size_set('font_l')" title="大字級">A+</a><!--英文 L-->

                                        </li>
                                        @if (ViewBag.langID == 2)
                                        {
                                            <li class="share_icon">
                                                <a href="#" target="_blank" title="facbook(new window)">
                                                    <!--英文 facebook(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #345db7;"></i>
                                                        <i class="fab fa-facebook-f fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="twitter(new window)">
                                                    <!--英文 twitter(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #5da9dd;"></i>
                                                        <i class="fab fa-twitter fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="youtube(new window)">
                                                    <!--英文 youtube(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #e50012;"></i>
                                                        <i class="fab fa-youtube fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="RSS(new window)" style="display:none;">
                                                    <!--英文 RSS(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #e67b32;"></i>
                                                        <i class="fas fa-rss fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                            </li>

                                        }
                                        else
                                        { 
                                            <li class="share_icon">
                                                <a href="#" target="_blank" title="facbook(另開新視窗)">
                                                    <!--英文 facebook(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #345db7;"></i>
                                                        <i class="fab fa-facebook-f fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="twitter(另開新視窗)">
                                                    <!--英文 twitter(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #5da9dd;"></i>
                                                        <i class="fab fa-twitter fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="youtube(另開新視窗)">
                                                    <!--英文 youtube(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #e50012;"></i>
                                                        <i class="fab fa-youtube fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                                <a href="#" target="_blank" title="RSS(另開新視窗)" style="display:none;">
                                                    <!--英文 RSS(new window)-->
                                                    <span class="fa-stack fa-xs">
                                                        <i class="fa fa-square fa-stack-2x" style="color: #e67b32;"></i>
                                                        <i class="fas fa-rss fa-stack-1x" style="color: #fff;"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>

                            
                        </div>
                    </div>
                </div>
                <!--topmenu end-->
                
                <div class="header-container header-nav header-nav-bar">
                	<div class="container">
                    	<div class="header-row">
                                <div class="header-nav">
                                    <!--<button class="btn header-btn-collapse-nav-search" data-toggle="collapse" data-target=".header-nav-search">
                                        <i class="fa fa-bars"></i>
                                    </button>-->

                                    <div class="header-nav-search header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills">

                                                <li class="search_box">
                                                    <input id="" type="text" class="search_input" placeholder="Search...">
                                                    <button type="submit" class="search_icon" onClick="location.href='search.html'" onkeypress="location.href='search.html'"><i class="fa fa-search"></i></button><!--無障礙需求：使用onClick, 需同時使用onkeypress-->
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                @foreach (Menu Menu1st in TopMenu.Where(t => t.MenuLevel == 1).OrderBy(t => t.Sort))
                                                {


                                                    if (TopMenu.Where(t => t.MenuLevel == 2 && t.ParentID == Menu1st.ID).Count() > 0)
                                                    {
                                                        <li class="dropdown">
                                                            @Html.aira_HyperLink_Menu(Menu1st,new { @class = "dropdown-toggle" })

                                                            <ul class="dropdown-menu">
                                                                @foreach (Menu Menu2nd in TopMenu.Where(t => t.MenuLevel == 2 && t.ParentID == Menu1st.ID).OrderBy(t => t.Sort))
                                                                {
                                                                    if (TopMenu.Where(t => t.MenuLevel == 3 && t.ParentID == Menu2nd.ID).Count() > 0)
                                                                    {
                                                                        <li class="dropdown-submenu">

                                                                            @if (TopMenu.Where(t => t.MenuLevel == 3 && t.ParentID == Menu2nd.ID).Count() > 0)
                                                                            {
                                                                                @Html.aira_Top_HyperLink_Menu(Menu2nd, null)
                                                                                <ul class="dropdown-menu">
                                                                                    @foreach (Menu Menu3rd in TopMenu.Where(t => t.MenuLevel == 3 && t.ParentID == Menu2nd.ID).OrderBy(t => t.Sort))
                                                                                    {
                                                                                        <li>
                                                                                            @Html.aira_HyperLink_Menu(Menu3rd, null)
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            }
                                                                            else
                                                                            {
                                                                                @Html.aira_HyperLink_Menu(Menu2nd, null)
                                                                            }
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>@Html.aira_HyperLink_Menu(Menu2nd, null)</li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            @Html.aira_HyperLink_Menu(Menu1st, null)
                                                        </li>
                                                    }

                                                } 
                                            </ul>
                                            
                                            <ul class="nav nav-top visible-xs">
                                            	<li style="display:none;">
                                                    <a href="sitemap.html" title="網站導覽"><i class="fa fa-sitemap"></i> 網站導覽</a>
                                                </li>
                                                <li>
                                                    <a href="index.html" title="回首頁">回首頁</a>
                                                </li>
                                                <li style="display:none;">
                                                    <a href="vocabulary.html" title="雙語詞彙"><i class="fa fa-file-signature"></i>雙語詞彙</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="English">EN</a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" title="facbook(另開新視窗)"><!--英文 facebook(new window)-->
                                                        <i class="fab fa-facebook-f"></i> facebook
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" title="twitter(另開新視窗)"><!--英文 twitter(new window)-->
                                                        <i class="fab fa-twitter"></i> twitter
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank" title="youtube(另開新視窗)"><!--英文 youtube(new window)-->
                                                        <i class="fab fa-youtube"></i> youtube
                                                    </a>
                                                </li>
                                                
                                                <li style="display:none;">
                                                    <a href="#" target="_blank" title="RSS">
                                                        <i class="fas fa-rss"></i> RSS
                                                    </a>
                                                </li>
                                            </ul>
                                            
                                        </nav>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </header>
        <!--header end--> 