
@using Oaww.HtmlHelp;
@using Oaww.Entity;

@{
    Layout = null;

    List<Menu> TopMenu = (List<Menu>)ViewBag.AllMenu;
    string mid = (string)ViewBag.mid;

    Menu menu = TopMenu.Where(t => t.ID.ToString() == mid).FirstOrDefault(); //先找到level

    //由上方/下方Menu來的
    if (menu == null)
    {
        List<Menu> DownMenu = (List<Menu>)ViewBag.DownMenu;
        menu = DownMenu.Where(t => t.ID.ToString() == mid).FirstOrDefault(); //先找到level
        if (menu != null)
        {
            menu = TopMenu.Where(t => t.ModelID == menu.ModelID && t.ModelItemID == menu.ModelItemID).FirstOrDefault();
        }
        else
        {
            List<Menu> UpMenu = (List<Menu>)ViewBag.UpMenu;
            menu = UpMenu.Where(t => t.ID.ToString() == mid).FirstOrDefault(); //先找到level
            if (menu != null)
            {
                menu = TopMenu.Where(t => t.ModelID == menu.ModelID && t.ModelItemID == menu.ModelItemID).FirstOrDefault();
            }
        }

    }

    int menuLevel = menu != null ? menu.MenuLevel : 1;



    //再找到1stMenu
    Menu Menu1st = new Menu();
    Menu menu2nd = new Menu();
    if (menuLevel == 1)
    {
        Menu1st = menu;
    }
    else if (menuLevel == 2)
    {
        Menu1st = TopMenu.Where(t => t.ID == menu.ParentID).First();
    }
    else if (menuLevel == 3)
    {
        menu2nd = TopMenu.Where(t => t.ID == menu.ParentID).First();
        Menu1st = TopMenu.Where(t => t.ID == menu2nd.ParentID).First();
    }

    if (ViewBag.mid == "Forward")
    {
        Menu1st = new Menu() { MenuName = "mail分享" };
    }

    if (ViewBag.mid == "Search")
    {
        if ((int)ViewBag.Language == 1)
        {
            Menu1st = new Menu() { MenuName = "搜尋結果" };
        }
        else
        {
            Menu1st = new Menu() { MenuName = "result" };
        }
    }
}

<a href="javascript:void(0);" title="主要內容區" accesskey="C" id="main-content">:::</a>
<a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> </a>
<i class="fa fa-angle-right" aria-hidden="true"></i>

@if (Menu1st.LinkMode == 2 && menuLevel!=1)
{
    var m = Menu1st.ModelID;
    if (m == 1)
    {
        <a href="@Url.Action("Index","Page",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
    else if (m == 2)
    {
        <a href="@Url.Action("Index","Message",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
    else if (m == 3)
    {
        <a href="@Url.Action("Index","FileDownload",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
    else if (m == 4)
    {
        <a href="@Url.Action("Index","Form",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
    else if (m == 11)
    {
        <a href="@Url.Action("Index","Active",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
    else if (m == 12)
    {
        <a href="@Url.Action("Index","EPaper",new {itemid=Menu1st.ModelItemID,mid=Menu1st.ID })">@Menu1st.MenuName</a>
    }
}
else
{
    @Menu1st.MenuName
}
@if (menuLevel == 2)
{
    var m = menu.ModelID;
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="active">

        @if (menu.LinkMode == 2)
        {

            if (m == 1)
            {
                <a href="@Url.Action("Index","Page",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
            else if (m == 2)
            {
                <a href="@Url.Action("Index","Message",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
            else if (m == 3)
            {
                <a href="@Url.Action("Index","FileDownload",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
            else if (m == 4)
            {
                <a href="@Url.Action("Index","Form",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
            else if (m == 11)
            {
                <a href="@Url.Action("Index","Active",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
            else if (m == 12)
            {
                <a href="@Url.Action("Index","EPaper",new {itemid=menu.ModelItemID,mid=menu.ID })">@menu.MenuName</a>
            }
        }
        else
        {
            @menu.MenuName
        }

    </span>
}
@if (menuLevel == 3)
{
    var m = menu2nd.ModelID;
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="active">
        @if (menu2nd.LinkMode == 2)
        {
            if (m == 1)
            {
                <a href="@Url.Action("Index","Page",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
            else if (m == 2)
            {
                <a href="@Url.Action("Index","Message",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
            else if (m == 3)
            {
                <a href="@Url.Action("Index","FileDownload",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
            else if (m == 4)
            {
                <a href="@Url.Action("Index","Form",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
            else if (m == 11)
            {
                <a href="@Url.Action("Index","Active",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
            else if (m == 12)
            {
                <a href="@Url.Action("Index","EPaper",new {itemid=menu2nd.ModelItemID,mid=menu2nd.ID })">@menu2nd.MenuName</a>
            }
        }
        else
        {
            @menu2nd.MenuName
        }
    </span>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="active">
        @menu.MenuName
    </span>
}




