
@{
    Layout = null;

    int nowPage = (int)ViewBag.NowPage;
    int total = (int)ViewBag.Total;
    int ShowCount = (int)ViewBag.ShowCount;

    var pageCount = (int)Math.Ceiling((decimal)total / ShowCount);

    int minPage = 1;
    int maxPage = 5;

    if (nowPage + 2 > pageCount)
    {
        maxPage = pageCount;
        minPage = pageCount - 4 > 0 ? pageCount - 4 : 1;
    }

}

@if (pageCount > 1)
{
    <div id="page_number" class="table-toolbar">
        <div class="col-md-4 col-sm-12 col-xs-12 page_total" data-sr="enter left over 1.5s">總筆數：@ViewBag.Total，顯示<strong>@((nowPage - 1) * ShowCount + 1)~@(nowPage * ShowCount < total ? nowPage * ShowCount : total)</strong></div><!--英文 Total:3, Display1~10-->
        <div class="col-md-8 col-sm-12 col-xs-12 page_icon" data-sr="enter right over 1.5s">
            <div class="btn-group">
                <button type="submit" class="btn_page accesskey" name="nowpage" value="1" title="第一頁"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                <button type="submit" class="btn_page accesskey" name="nowpage" value="@(nowPage==1?1:nowPage-1)" title="上一頁"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <select name="jumpPage">
                    @for (int i = 1; i <= pageCount; i++)
                    {
                        <option value="@i" @(i == nowPage ? "selected" : "")>@i</option>
                    }
                </select>
                <button type="submit" class="btn_page accesskey" style="font-size:16px" title="跳頁">跳頁</button>
                <button type="submit" class="btn_page accesskey" name="nowpage" value="@(nowPage<pageCount?nowPage+1:nowPage)" title="下一頁"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                <button type="submit" class="btn_page accesskey" name="nowpage"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>
        </div>
        </div>
}

