<script src="@Url.Content("~/Scripts/components-date-time-pickers.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
@*<script src="//cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>*@
<!-- 載入 summernote 中文語系 -->
@{
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";
}

<!--page bar start-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Model")">模組管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","EPaper")">電子報管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("ModelItem",new {mainid = ViewBag.mainid })">@ViewBag.ModelItemTitle 管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title 管理</a>
        </li>
    </ul>

</div>
<!--page bar end-->
<!--message start-->
<h2>@ViewBag.Title</h2>

<div class="portlet light bordered">
    <form class="form-horizontal form-bordered" method="Post" id="editform" action='@Url.Action("SaveManuallyContent")' enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-12 search_item">內容</div>
                            <div class="col-md-10 col-sm-12 bg-white mobile_white">
                                <textarea cols="80" id="HtmlContent" rows="20">@ViewBag.HtmlContent</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center search_padding">
            <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
            <button type="button" class="btn blue" id="btn_return" onclick="document.location.href='@Url.Action("ModelItem",new {mainid = ViewBag.mainid })'">返回列表</button>
        </div>
        <!--message end-->
    </form>
</div>
@section scripts {
    <script>
        $(function () {
               var ckedit = CKEDITOR.replace('HtmlContent', {
                height: 300,
               filebrowserImageUploadUrl: '@Url.Action("Upload")?command=QuickUpload&type=Images',
               filebrowserUploadUrl: '@Url.Action("UploadFile")?command=QuickUpload&type=Files',
            });
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_P;
            CKEDITOR.on('instanceReady', function (ev) {
                ev.editor.dataProcessor.writer.setRules('p',
                    {
                        indent: false,
                        breakBeforeOpen: false,
                        breakAfterOpen: false,
                        breakBeforeClose: false,
                        breakAfterClose: false
                    });
            });
            CKEDITOR.on('instanceReady', function (ev) {
                ev.editor.dataProcessor.writer.setRules('div',
                    {
                        indent: true,
                        breakBeforeOpen: true,
                        breakAfterOpen: true,
                        breakBeforeClose: false,
                        breakAfterClose: false
                    });
            });

            $('#editform').submit(function (event) {
                var formData = new FormData();
                formData.append("ID", '@ViewBag.ID');
                formData.append("HtmlContent", encodeURIComponent(CKEDITOR.instances.HtmlContent.getData()));
                $.ajax({
                    url: this.action,
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                       CreatePost('@Url.Action("ModelItem",new {mainid = ViewBag.mainid })',null);
                    }, error: function () {
                        // handle error
                    }
                });
                return false;
            });
        });
    </script>
}

