@{
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";
}
<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Model")">模組管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","EPaper")">電子報管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title 管理</a>

        </li>
    </ul>
</div>
<!--page bar end-->
<div class="title_01">@ViewBag.Title</div>
<div class="portlet light bordered">

    <div class="table-toolbar">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="display_inline">
                <p class="class_title">管理項目</p>
                <select class="form-control_1" id="sel_unit" onChange="window.location.href=this.value">
                    <option value="#" selected>編輯管理</option>
                    <option value="@Url.Action("UnitSetting",new { mainid = ViewBag.mainid })">模組管理</option>
                    <option value="@Url.Action("Subscriber",new { mainid = ViewBag.mainid })">訂閱者管理</option>
                </select>
            </div>
        </div>
    </div>
    <hr>

    <!--set item start-->
    <div class="table-toolbar">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="display_inline">
                <p class="class_title">類別</p>
                @{var grouplist = (IList<SelectListItem>)ViewBag.grouplist; }
                <select class="form-control_1" id="GroupId">
                    @foreach (var g in grouplist)
                    {
                        <option value="@g.Value">@g.Text</option>
                    }
                </select>
                <p class="display_inline"><a href="#" class="btn grey-mint" role="button" id="btn_groupmanager">管理</a></p>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 mobile_left">
            <p class="display_inline">

                <button class="btn green-meadow" id='btn_add'>新增 <i class="fa fa-plus"></i></button>
            </p>
        </div>
    </div>
    <div class="table-scrollable">
        <table align="center" class="table table-bordered table-hover" border="0" cellspacing="0" cellpadding="0"
               id="eventtable"
               data-url="@Url.Action("PagingItem")"
               data-sort-name='Sort'
               data-page-size='10'
               data-filed-id='ItemID'
               data-max-pagination='10'>
            <thead>
                <tr class="bg-grey_1" filed-class='odd gradeX'>
                    <th width="80" class="text-center delete_th" filed-type='delcheckbox'>
                        <label class='mt-checkbox mt-checkbox-single mt-checkbox-outline'>
                            <input type='checkbox' class='checkboxes' id="chk_all" /><span></span>
                        </label>
                        <button class="btn red-mint btn-xs" id='btn_del'><i class="glyphicon glyphicon-trash"></i></button>
                    </th>
                    <th filed-name='Sort' width="160px" class="text-center" filed-type='numbertextcheck' filed-item-class="sortedit">排序</th>
                    <th filed-name='Title' class="text-center" filed-type='link' filed-item-class='text-center '>電子報名稱</th>
                    <th filed-name='customertr' width="280px" class="text-center" filed-item-class="btn blue review" filed-type='function'>內容</th>
                    <th filed-name='FormatStr' width="80px" class="text-center" filed-item-class='text-center'>編輯模式</th>
                    <th filed-name='IsPublishStr' width="80px" class="text-center" filed-item-class="text-center">發佈狀態</th>
                    <th filed-name='GroupName' width="80px" class="text-center" filed-item-class="text-center">類別</th>
                    <th filed-name='Enabled' width="80px" class="text-center" filed-type='checkbox' filed-item-class="checkboxes chkstatus">前台顯示</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="page_number" class="table-toolbar">
        <div class="col-md-4 col-sm-12 col-xs-12 page_total" id="tableinfo"></div>
        <div class="col-md-8 col-sm-12 col-xs-12 page_icon">
            <div class="btn-group" id="pagination">
            </div>
        </div>
    </div>
    <!--table end-->
</div>

<!--message end-->
@section scripts {
    <script src="@Url.Content("~/Scripts/datatable.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/clipboard.min.js")"></script>
    <script>
        $(document).ready(function () {


            var mainid = '@ViewBag.mainid';

            mytable = $("#eventtable").myDataTable().TableList[0];
            mytable.settingTdData = myDataTableTr;
            mytable.settingTableInfo = function (tableinfoId, totalcnt, offsetcnt, nowpagecnt) {
                var totalclick = mytable.keepcheckid.length;
                $("#" + tableinfoId).html('總筆數:' + totalcnt + '，顯示' + (totalcnt <= 0 ? 0 : offsetcnt) + "~" + (offsetcnt + nowpagecnt - 1));
            };
            mytable.SearchModelBase.ModelID = mainid;
            mytable.GetData(1);
            $("#GroupId").change(function () {
                $("#searchForm :input").val('');
                var SearchModelBase = mytable.SearchModelBase;
                SearchModelBase.GroupId = $('#GroupId').val();
                SearchModelBase.Search = "Y";

                mytable.GetData();
            });

            var obj = {};
            obj.modelid = mainid;


            RegisterOrder("#eventtable", ".sortedit", '@Url.Action("UpdateItemSeq")', obj);
            RegisterClickAll("#chk_all", '#eventtable tbody .chksel', "#selvalue");
            RegisterDelete("#btn_del", '#eventtable .chksel:checked', '@Url.Action("SetItemDelete")', {keyindex:"2"});
            RegisterClicklink("#eventtable", ".edit", '@Url.Action("EPaperEdit")', { idkey: "itemid", mainid: mainid},"itemid");
            RegisterClick("#eventtable", ".chkstatus", '@Url.Action("SetItemStatus")', obj);
            RegisterClick("#eventtable", ".chkhome", '@Url.Action("SetHomeStatus")', obj);
            //RegisterClick("#eventtable", ".review", '@Url.Action("EPaperReview")', { }, "itemid");
            $("#eventtable").delegate(".epaperedit", "click", function () {
                var etype = $(this).attr('etype');
                if (etype == "1") {
                    CreatePost('@Url.Action("EPaperManuallyContent")', { id: $(this).attr('index'), mainid: mainid });
                } else {
                    CreatePost('@Url.Action("EPaperContentMenu")', { id: $(this).attr('index'), mainid: mainid });
                }
            });


            $("#eventtable").delegate(".isedit", "click", function () {
                $.post('@Url.Action("SetIsEdit")', { "id": $(this).val(), status: true }, function (data) { alert(data); mytable.GetData(1); });
            });



            //$("#sel_year").change(function () {
            //    var SearchModelBase = mytable.SearchModelBase;
            //    SearchModelBase.Key = $("#sel_year").val();
            //    SearchModelBase.Search = "Y";
            //    mytable.GetData(1);
            //});
            
            @*$("#eventtable").delegate(".review", "click", function () {

                CreatePost('@Url.Action("EPaperReview")', { id: $(this).attr('index') });
            });*@

            $("#eventtable").delegate(".review", "click", function () {
                window.open('@Url.Action("EPaperReview")?id=' + $(this).attr('index'), '_blank');
            });

            $("#eventtable").delegate(".epapersort", "click", function () {
                CreatePost('@Url.Action("EPaperItemSort")', { id: $(this).attr('index'), mainid: mainid });
            });

            $("#btn_groupmanager").click(function () {
                    var obj = {};
                    obj.mainid = mainid;
                    CreatePost('@Url.Action("GroupEdit")', obj);
            });

            $("#btn_add").click(function () {
                var obj = {};
                obj.mainid = mainid;
                obj.id = -1;
                CreatePost('@Url.Action("EPaperEdit")', obj);
            });
            $("#GroupID").change(function () {
                var SearchModelBase = mytable.SearchModelBase;
                SearchModelBase.Key = $("#GroupID").val();
                SearchModelBase.Search = "Y";
                mytable.GetData(1);
            });

         });
        function customertr(row, columnidx, idx, filedname, tableid, type, fileditemclass) {
            var htmlstr = "<td class='text-center'>";
            if (row.IsPublished == false) {
                if (row['FormatStr'] == '手動') {
                    htmlstr += "<a href='#'  class='btn grey-mint epaperedit' index='" + row[tableid] + "' etype=1 role='button'>編輯</a>"
                } else {
                    htmlstr += "<a class='btn grey-mint epaperedit' role='button' index='" + row[tableid] + "' etype=2>編輯</a>&nbsp;<a class='btn grey-mint epapersort'  role='button' index='" + row[tableid] + "'>排序</a>"
                }
            }
            htmlstr += "&nbsp;<a class='btn grey-mint review'  role='button' index='" + row[tableid] + "'>預覽</a></td>"
            return htmlstr;
        }
    </script>
}
