@{
    Layout = null;
}
@model EPaperEditModel
@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="Zh-hant" xml:lang="Zh-hant">
<!--英文版<html lang="en" xml:lang="en">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中華穀類食品工業技術研究所</title><!--英文 China Grain Products research & Development Institute-->
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/theme-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/settings.css")" media="screen">

    <!--fontawesome start-->
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/brands.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/solid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/regular.min.css")">
    <!--fontawesome end-->

    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <script src="@Url.Content("~/js/jquery.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/css/noscript.css")">
    </noscript>


</head>

<body style="max-width:806px; margin:0 auto; font-family: 微軟正黑體, open-sans, Times New Roman , sans-serif;background: url(@Url.Content("~/Content/img/index_bg_news.png"));background-attachment: fixed; background-size: cover;">
    <div class="con_box">
        @if (string.IsNullOrEmpty(Model.TopBannerImgName) == false)
        {
            <div class="con_banner">
                <img src="@Model.TopBannerImgUrl" alt="" style="border-radius: 10px;box-shadow: 0px 0px 6px 2px rgba(20%,20%,20%,0.1);border: solid 1px #fff;" />
            </div><!--建議尺寸740*185px；後台未上傳圖片時show預設圖print_banner.jpg -->
        }
        else
        {
            <div class="con_banner">
                <img src="@Url.Content("~/Content/img/print_banner.jpg")" alt="" style="border-radius: 10px;box-shadow: 0px 0px 6px 2px rgba(20%,20%,20%,0.1);border: solid 1px #fff;width:100%" />
            </div><!--建議尺寸740*185px；後台未上傳圖片時show預設圖print_banner.jpg -->
        }
        <div class="date">《發佈日期：@Model.PublishStr》</div>
        <div class="title"><h2>@Model.Title </h2></div>
        @if (Model.PaperMode == 1)
        {
            @Html.Raw(Model.EPaperHtmlContent.safeHtmlFragment())
        }
        else
        {
            if (Model.EPaperItemEdit != null)
            {
                foreach (var items in Model.EPaperItemEdit)
                {
                    <div class="epaper_list">
                        <div class="epaper_class">@items.Name</div>
                        <ul class="epaper_item">
                            @for (var idx = 0; idx < items.ItemName.Count(); idx++)
                            {
                                <li><a href='@items.ItemUrl[idx]'  title="@Html.Raw(items.ItemName[idx])">@Html.Raw(items.ItemName[idx])</a></li>
                            }
                        </ul>
                    </div>
                }
            }
        }
        <div style="text-align:center;font-size:0.8em;line-height:150%;border-top:double #fff 5px;float:left;width:100%;margin-top:10px;padding:10px;background:#f5f5f5;">@Html.Raw(Model.PageEndHtmlContent)</div>
    </div>
</body>
</html>