@using Oaww.ViewModel;

@model MessageUnitSettingModel
@{
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";

    SET_MESSAGE SET_MESSAGE = (SET_MESSAGE)ViewBag.SET_MESSAGE;
    List<SET_MESSAGE_ADD> sET_MESSAGE_ADDs = (List<SET_MESSAGE_ADD>)ViewBag.SET_MESSAGE_ADDs;
}
<!--page bar start-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Model")">模組管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", SET_MESSAGE.M_MESSAGE06)">@SET_MESSAGE.M_MESSAGE05</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">單元設定</a>
        </li>
    </ul>

</div>
<!--page bar end-->
<!--message start-->
<div class="title_01">@ViewBag.Title</div>

<div class="portlet light bordered">
    <!--management item start-->
    <div class="table-toolbar">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="display_inline">
                <p class="class_title">管理項目</p>
                <select class="form-control_1" onChange="window.location.href=this.value">
                    <option value="@Url.Action("ModelItem", new { mainid = Model.MainID })" selected>訊息管理</option>
                    <option value="#" selected>單元設定</option>
                    @foreach (var m in sET_MESSAGE_ADDs)
                    {
                        <option value="@Url.Action(m.M_MESSAGE_ADD03, new { mainid = ViewBag.mainid })">@m.M_MESSAGE_ADD02</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <!--management item end-->
    <form class="form-horizontal form-bordered" method="Post" id="editform" action='@Url.Action("SaveUnit")'>
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body">
                        @Html.HiddenFor(Model => Model.MainID)
                        @Html.HiddenFor(Model => Model.ID)
                        <div class="form-group">
                            <div class="col-md-2 col-sm-12 search_item">功能提供</div>
                            <div class="col-md-10 col-sm-12 bg-white mobile_white">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBoxFor(m => m.IsForward, new { @class = "checkboxes" })轉寄好友
                                    <span></span>
                                </label>

                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBoxFor(m => m.IsPrint, new { @class = "checkboxes" })友善列印
                                    <span></span>
                                </label>

                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBoxFor(m => m.IsShare, new { @class = "checkboxes" })分享網站
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group @(SET_MESSAGE.M_MESSAGE12==false?"hide":"")">
                            <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">前台列表顯示設定</div>
                            <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                <table class="table table-bordered table-hover" border="0" cellspacing="0" cellpadding="0" id="table_Column">
                                    <thead>
                                        <tr class="bg-grey_1" filed-class="odd gradeX">
                                            <th filed-name="Sort" width="120px" class="text-center" filed-type="numbertextcheck" filed-item-class="sortedit">排序</th>
                                            <th filed-name="ColumnName" class="text-center">名稱</th>
                                            <th width="80px" filed-name="Show" class="text-center" filed-type="checkbox" filed-item-class="chkstatus">顯示</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;

                                        }
                                        @foreach (var m in Model.columnSettings)
                                        {
                                            <tr class="odd gradeX tr_col" id="tr_@i" seqidx="@(i+1)">
                                                <td class="text-center delete_th">
                                                    <button type="button" class="btn btn-default btn-xs seq_list" value="0"><i class="fa fa-angle-double-up"></i></button>
                                                    <button type="button" class="btn btn-default btn-xs seq_list" value="-1"><i class="fa fa-angle-up"></i></button>
                                                    <button type="button" class="btn btn-default btn-xs seq_list" value="+1"><i class="fa fa-angle-down"></i></button>
                                                    <button type="button" class="btn btn-default btn-xs seq_list" value="max"><i class="fa fa-angle-double-down"></i></button>

                                                    <input type="hidden" id="Type" value="@m.Type" />
                                                    <input type="hidden" id="MainID" value="@m.MainID" />
                                                    <input type="hidden" id="ColumnKey" value="@m.ColumnKey" />
                                                    <input type="hidden" id="ColumnName" value="@m.ColumnName" />
                                                </td>
                                                <td class="text-center columnname">@m.ColumnName</td>
                                                <td class="text-center">
                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input class="chkstatus" type="checkbox" id="Used" @(m.Used.Value ? "checked" : "")><span></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group @(SET_MESSAGE.M_MESSAGE20==false?"hide":"")"">
                            <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">每頁顯示筆數</div>
                            <div class="col-md-4 col-sm-4 col-xs-12 bg-white mobile_white">
                                <select class="form_02" id="ShowCount" name="ShowCount">
                                    @foreach (var m in SET_MESSAGE.M_MESSAGE13.Split(','))
                                    {
                                        <option value="@m">@m</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 hidden-xs bg-white">&nbsp;</div>
                        </div>
                        <div class="form-group @(SET_MESSAGE.M_MESSAGE17==false?"hide":"")">
                            <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">簡介</div>
                            <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                <textarea cols="80" id="IntroductionHtml" rows="20">@HttpUtility.HtmlDecode(Model.IntroductionHtml)</textarea>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center search_padding">
            <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
        </div>
    </form>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Scripts/datatable.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <script src="~/Scripts/_html.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        $(function () {

            $("#table_Column").delegate((".seq_list"), "click", function () {
                var alltr = $("#table_Column tbody tr");
                var nowtridx = $(this).parents('tr').attr('seqidx');
                var sval = $(this).val();
                var newtridx = 0;

                if (sval == "+1") {
                    newtridx = parseInt(nowtridx) + 1;
                } else if (sval == "-1") {
                    newtridx = parseInt(nowtridx) - 1;
                } else if (sval == "max") {
                    newtridx = alltr.length;
                }
                if (newtridx == "0") { newtridx = "1"; }
                if (newtridx == "" || newtridx == nowtridx) {
                    return false;
                }
                if (newtridx > alltr.length) { newtridx = alltr.length; }
                if (nowtridx == newtridx.toString()) {
                    return false;
                }

                var nowidxhtml = $(this).parents('tr')[0];
                var addarr = [];
                for (var idx = 1; idx <= alltr.length; idx++) {
                    var nowtr = alltr[idx - 1];
                    if (idx.toString() != nowtridx) {
                        if ((newtridx > nowtridx)) {
                            addarr.push($(nowtr));
                            if (idx == newtridx) {
                                addarr.push($(nowidxhtml));
                            }
                        } else {
                            if (idx == newtridx) {
                                addarr.push($(nowidxhtml));
                            }
                            addarr.push($(nowtr));
                        }
                    }
                }
                $("#table_Column tbody").empty();

                for (var idx = 0; idx < addarr.length; idx++) {
                    $(addarr[idx]).attr("id", "tr_" + idx).attr('seqidx', (idx + 1));
                    $("#table_Column tbody").append(addarr[idx]);
                }
            });

            var ckedit = CKEDITOR.replace('IntroductionHtml', {
                height: 300,
               filebrowserImageUploadUrl: '@Url.Action("Upload")?command=QuickUpload&type=Images',
               filebrowserUploadUrl: '@Url.Action("UploadFile")?command=QuickUpload&type=Files',
            });
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_P;
            CKEDITOR.on('instanceReady', function (ev) {
                ev.editor.dataProcessor.writer.setRules('p',
                    {
                        indent: false,
                        breakBeforeOpen: false,
                        breakAfterOpen: false,
                        breakBeforeClose: false,
                        breakAfterClose: false
                    });
            });

            if ('@Model.ID' > 0) {
                $('#ShowCount').val('@Model.ShowCount');
            }

            $('#editform').submit(function (event) {

                var formData = new FormData();
                var array = $('#editform').serializeArray();
                $.each(array, function () {
                    if (this.name != '') {
                        formData.append(this.name, this.value);
                    }

                });

                var i = 0;
                $('.tr_col').each(function () {
                    formData.append("columnSettings[" + i + "].Type", $(this).find('#Type').val());
                    formData.append("columnSettings[" + i + "].MainID", $(this).find('#MainID').val());
                    formData.append("columnSettings[" + i + "].ColumnKey", $(this).find('#ColumnKey').val());
                    formData.append("columnSettings[" + i + "].ColumnName", $(this).find('#ColumnName').val());
                    formData.append("columnSettings[" + i + "].Used", $(this).find('#Used').prop('checked')?true:false);
                    formData.append("columnSettings[" + i + "].Sort", i+1);

                    i++;
                })

                formData.append("IntroductionHtml", _html.encode(CKEDITOR.instances.IntroductionHtml.getData()));

                    //var t = $(this).serialize();
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result == "") {
                                alert("儲存成功");
                            } else {
                                alert(result);
                                    var obj = {};
                                obj.mainid = '@Model.MainID'
                                  CreatePost('@Url.Action("UnitSetting")', obj);
                            }
                        }
                   });
                    return false;
            })
        });

    </script>

}

